// .wrapper {
//   display: flex;
// }

@import url(https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom);

.nav-hero {
  display: flex;
  height: 400px;
  flex-direction: column;
  background-image: url(./images/bg-pattern-intro.svg),
    linear-gradient(hsl(353, 100%, 62%));
  background-size: 400%, 100%;
  background-position: 42% 30%, 0% 0%;
  padding-top: 50px;
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    align-self: flex-start;
  }
}

.logo {
  // background: url(/images/logo.svg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // display: block;
  color: white;
  // height: 10px;
  width: 22%;
  padding-left: 20px;
  // margin-right: 20px;
  // padding-right: 20px;
  // padding-bottom: 30px;
  display: block;
}

.icon-ham {
  width: 15%;
  padding-right: 20px;
  padding-top: 0px;
}

h1,
h2 {
  font-family: Ubuntu;
}

h2 {
  color: white;
}

.hero-section {
  margin: 0px 20px;
  text-align: center;
  h2 {
    margin-top: 80px;
  }
  p {
    margin-left: 35px;
    margin-right: 35px;
    color: white;
  }
  a {
    text-decoration: none;
  }
}

.trial-button {
  background-color: white;
  font-family: Ubuntu;
  color: $lightRed;
  padding: 5px 5px;
  border: 1px white solid;
  margin-left: 0px;
  // padding-left: 0px;
  border-radius: 10px;
  position: relative;
}

.more-button {
  color: white;
  padding: 5px 5px;
  border: 1px white solid;
  border-radius: 10px;
}

.introduction-section {
  display: flex;
  flex-direction: column;
  h2 {
    margin-top: 10px;
    color: black;
    margin: auto;
  }
}
