* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
  line-height: 1.2em;
}

p {
  margin: 10px 0px;
}
img {
  width: 100%;
}
