* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
  line-height: 1.2em;
}

p {
  margin: 10px 0px;
}

img {
  width: 100%;
}

body {
  font-family: Overpass;
}

.logo {
  color: white;
  width: 70px;
  width: 20%;
  display: block;
}

.nav-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75rem;
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./images/bg-pattern-intro.svg), -webkit-gradient(linear, left top, left bottom, from(#ff3d54));
  background-image: url(./images/bg-pattern-intro.svg), linear-gradient(#ff3d54);
  background-size: 440%, 100%;
  background-position: 40% 42%, 0% 0%;
  padding: 8vh 8vw 0vh 8vw;
  border-bottom-left-radius: 20vw;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-bottom: 12vh;
}

.navbar img {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.icon-ham {
  display: inline-block;
  width: 9vw;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  top: 1vh;
}

h1,
h2 {
  font-family: Overpass;
}

h2 {
  color: white;
}

.hero-section {
  margin: 0px 20px;
  text-align: center;
}

.hero-section h2 {
  font-size: 8.3vw;
  padding-bottom: 1vh;
}

.hero-section p {
  font-size: 4.7vw;
  color: white;
  margin-bottom: 7vh;
}

.hero-section a {
  text-decoration: none;
}

.trial-button {
  background-color: white;
  font-family: Ubuntu;
  color: #ff525d;
  padding: 1.7vh 5vw;
  border: 1px white solid;
  margin: 0px 6vw 0px 5px;
  border-radius: 10vw;
  position: relative;
}

.more-button {
  color: white;
  padding: 2vh 6vw 1.7vh 6vw;
  border: 1px white solid;
  border-radius: 10vw;
}

.introduction-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.introduction-section h2 {
  padding-top: 15vh;
  color: black;
  margin: auto;
}

.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  display: block;
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
  width: 30px;
  height: 30px;
  opacity: 0;
  z-index: 2;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 1;
  width: 30px;
  height: 30px;
  background: #ff7a85;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-close {
  display: none;
}

.menu-wrap .toggler:checked + .hamburger .icon-ham {
  display: none;
}

.menu-wrap .toggler:checked + .hamburger .icon-close {
  display: block;
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .menu {
  position: fixed;
  width: 80%;
  top: 120px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}

.menu-wrap .menu > div {
  background: white;
  width: 200vw;
  height: 75vh;
  -webkit-box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  padding: 1.2rem;
}

.icon-dark {
  width: 15%;
  margin-left: 10px;
}

nav {
  position: fixed;
  top: 100px;
  right: 20px;
  height: 100vh;
}

.first-collap {
  list-style-type: none;
}

.submenu-button {
  position: fixed;
  top: 120px;
  left: 220px;
}

nav ul {
  list-style-type: none;
}

#collap {
  display: none;
}

#collap .active {
  display: block;
}
/*# sourceMappingURL=style.css.map */